@font-face {
  font-family: "radix-icons";
  src: url('radix-icons.eot?t=1738445326608'); /* IE9*/
  src: url('radix-icons.eot?t=1738445326608#iefix') format('embedded-opentype') /* IE6-IE8 */,
  url('radix-icons.woff2?t=1738445326608') format('woff2'),
  url('radix-icons.woff?t=1738445326608') format('woff'),
  url('radix-icons.ttf?t=1738445326608') format('truetype'),
  url('radix-icons.svg?t=1738445326608') format('svg');
}

[class^="radix-icons-"], [class*=" radix-icons-"] {
  font-family: 'radix-icons' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.radix-icons-accessibility:before { content: "\ea01"; }
.radix-icons-activity-log:before { content: "\ea02"; }
.radix-icons-align-baseline:before { content: "\ea03"; }
.radix-icons-align-bottom:before { content: "\ea04"; }
.radix-icons-align-center-horizontally:before { content: "\ea05"; }
.radix-icons-align-center-vertically:before { content: "\ea06"; }
.radix-icons-align-left:before { content: "\ea07"; }
.radix-icons-align-right:before { content: "\ea08"; }
.radix-icons-align-top:before { content: "\ea09"; }
.radix-icons-all-sides:before { content: "\ea0a"; }
.radix-icons-angle:before { content: "\ea0b"; }
.radix-icons-archive:before { content: "\ea0c"; }
.radix-icons-arrow-bottom-left:before { content: "\ea0d"; }
.radix-icons-arrow-bottom-right:before { content: "\ea0e"; }
.radix-icons-arrow-down:before { content: "\ea0f"; }
.radix-icons-arrow-left:before { content: "\ea10"; }
.radix-icons-arrow-right:before { content: "\ea11"; }
.radix-icons-arrow-top-left:before { content: "\ea12"; }
.radix-icons-arrow-top-right:before { content: "\ea13"; }
.radix-icons-arrow-up-v1:before { content: "\ea14"; }
.radix-icons-aspect-ratio:before { content: "\ea15"; }
.radix-icons-avatar:before { content: "\ea16"; }
.radix-icons-backpack:before { content: "\ea17"; }
.radix-icons-badge:before { content: "\ea18"; }
.radix-icons-bar-chart:before { content: "\ea19"; }
.radix-icons-bell:before { content: "\ea1a"; }
.radix-icons-blending-mode:before { content: "\ea1b"; }
.radix-icons-bookmark-filled:before { content: "\ea1c"; }
.radix-icons-bookmark:before { content: "\ea1d"; }
.radix-icons-border-all:before { content: "\ea1e"; }
.radix-icons-border-bottom:before { content: "\ea1f"; }
.radix-icons-border-dashed:before { content: "\ea20"; }
.radix-icons-border-dotted:before { content: "\ea21"; }
.radix-icons-border-left:before { content: "\ea22"; }
.radix-icons-border-none:before { content: "\ea23"; }
.radix-icons-border-right:before { content: "\ea24"; }
.radix-icons-border-solid:before { content: "\ea25"; }
.radix-icons-border-split:before { content: "\ea26"; }
.radix-icons-border-style:before { content: "\ea27"; }
.radix-icons-border-top:before { content: "\ea28"; }
.radix-icons-border-width:before { content: "\ea29"; }
.radix-icons-box-model:before { content: "\ea2a"; }
.radix-icons-box:before { content: "\ea2b"; }
.radix-icons-button:before { content: "\ea2c"; }
.radix-icons-calendar:before { content: "\ea2d"; }
.radix-icons-camera:before { content: "\ea2e"; }
.radix-icons-card-stack-minus:before { content: "\ea2f"; }
.radix-icons-card-stack-plus:before { content: "\ea30"; }
.radix-icons-card-stack:before { content: "\ea31"; }
.radix-icons-caret-down:before { content: "\ea32"; }
.radix-icons-caret-left:before { content: "\ea33"; }
.radix-icons-caret-right:before { content: "\ea34"; }
.radix-icons-caret-sort:before { content: "\ea35"; }
.radix-icons-caret-up-v1:before { content: "\ea36"; }
.radix-icons-chat-bubble:before { content: "\ea37"; }
.radix-icons-check-circled:before { content: "\ea38"; }
.radix-icons-check:before { content: "\ea39"; }
.radix-icons-checkbox:before { content: "\ea3a"; }
.radix-icons-chevron-down:before { content: "\ea3b"; }
.radix-icons-chevron-left:before { content: "\ea3c"; }
.radix-icons-chevron-right:before { content: "\ea3d"; }
.radix-icons-chevron-up-v1:before { content: "\ea3e"; }
.radix-icons-circle-backslash:before { content: "\ea3f"; }
.radix-icons-circle:before { content: "\ea40"; }
.radix-icons-clipboard-copy:before { content: "\ea41"; }
.radix-icons-clipboard:before { content: "\ea42"; }
.radix-icons-clock:before { content: "\ea43"; }
.radix-icons-code:before { content: "\ea44"; }
.radix-icons-codesandbox-logo-v1:before { content: "\ea45"; }
.radix-icons-color-wheel:before { content: "\ea46"; }
.radix-icons-column-spacing:before { content: "\ea47"; }
.radix-icons-columns:before { content: "\ea48"; }
.radix-icons-commit:before { content: "\ea49"; }
.radix-icons-component-1:before { content: "\ea4a"; }
.radix-icons-component-2:before { content: "\ea4b"; }
.radix-icons-component-boolean:before { content: "\ea4c"; }
.radix-icons-component-instance:before { content: "\ea4d"; }
.radix-icons-component-none:before { content: "\ea4e"; }
.radix-icons-component-placeholder:before { content: "\ea4f"; }
.radix-icons-container:before { content: "\ea50"; }
.radix-icons-cookie:before { content: "\ea51"; }
.radix-icons-copy:before { content: "\ea52"; }
.radix-icons-corner-bottom-left:before { content: "\ea53"; }
.radix-icons-corner-bottom-right:before { content: "\ea54"; }
.radix-icons-corner-top-left:before { content: "\ea55"; }
.radix-icons-corner-top-right:before { content: "\ea56"; }
.radix-icons-corners:before { content: "\ea57"; }
.radix-icons-countdown-timer:before { content: "\ea58"; }
.radix-icons-counter-clockwise-clock-v1:before { content: "\ea59"; }
.radix-icons-crop:before { content: "\ea5a"; }
.radix-icons-cross-1:before { content: "\ea5b"; }
.radix-icons-cross-2:before { content: "\ea5c"; }
.radix-icons-cross-circled:before { content: "\ea5d"; }
.radix-icons-crosshair-1:before { content: "\ea5e"; }
.radix-icons-crosshair-2:before { content: "\ea5f"; }
.radix-icons-crumpled-paper:before { content: "\ea60"; }
.radix-icons-cube:before { content: "\ea61"; }
.radix-icons-cursor-arrow:before { content: "\ea62"; }
.radix-icons-cursor-text:before { content: "\ea63"; }
.radix-icons-dash:before { content: "\ea64"; }
.radix-icons-dashboard:before { content: "\ea65"; }
.radix-icons-desktop:before { content: "\ea66"; }
.radix-icons-dimensions:before { content: "\ea67"; }
.radix-icons-disc:before { content: "\ea68"; }
.radix-icons-discord-logo:before { content: "\ea69"; }
.radix-icons-divider-horizontal:before { content: "\ea6a"; }
.radix-icons-divider-vertical:before { content: "\ea6b"; }
.radix-icons-dot-filled:before { content: "\ea6c"; }
.radix-icons-dot:before { content: "\ea6d"; }
.radix-icons-dots-horizontal:before { content: "\ea6e"; }
.radix-icons-dots-vertical:before { content: "\ea6f"; }
.radix-icons-double-arrow-down:before { content: "\ea70"; }
.radix-icons-double-arrow-left:before { content: "\ea71"; }
.radix-icons-double-arrow-right:before { content: "\ea72"; }
.radix-icons-double-arrow-up-v1:before { content: "\ea73"; }
.radix-icons-download:before { content: "\ea74"; }
.radix-icons-drag-handle-dots-1:before { content: "\ea75"; }
.radix-icons-drag-handle-dots-2:before { content: "\ea76"; }
.radix-icons-drag-handle-horizontal:before { content: "\ea77"; }
.radix-icons-drag-handle-vertical:before { content: "\ea78"; }
.radix-icons-drawing-pin-filled:before { content: "\ea79"; }
.radix-icons-drawing-pin:before { content: "\ea7a"; }
.radix-icons-dropdown-menu:before { content: "\ea7b"; }
.radix-icons-enter-full-screen:before { content: "\ea7c"; }
.radix-icons-enter:before { content: "\ea7d"; }
.radix-icons-envelope-closed:before { content: "\ea7e"; }
.radix-icons-envelope-open:before { content: "\ea7f"; }
.radix-icons-eraser:before { content: "\ea80"; }
.radix-icons-exclamation-triangle:before { content: "\ea81"; }
.radix-icons-exit-full-screen:before { content: "\ea82"; }
.radix-icons-exit:before { content: "\ea83"; }
.radix-icons-external-link:before { content: "\ea84"; }
.radix-icons-eye-closed:before { content: "\ea85"; }
.radix-icons-eye-none:before { content: "\ea86"; }
.radix-icons-eye-open:before { content: "\ea87"; }
.radix-icons-face:before { content: "\ea88"; }
.radix-icons-figma-logo:before { content: "\ea89"; }
.radix-icons-file-minus:before { content: "\ea8a"; }
.radix-icons-file-plus:before { content: "\ea8b"; }
.radix-icons-file-text:before { content: "\ea8c"; }
.radix-icons-file:before { content: "\ea8d"; }
.radix-icons-font-bold:before { content: "\ea8e"; }
.radix-icons-font-family:before { content: "\ea8f"; }
.radix-icons-font-italic:before { content: "\ea90"; }
.radix-icons-font-roman:before { content: "\ea91"; }
.radix-icons-font-size:before { content: "\ea92"; }
.radix-icons-font-style:before { content: "\ea93"; }
.radix-icons-frame:before { content: "\ea94"; }
.radix-icons-framer-logo:before { content: "\ea95"; }
.radix-icons-gear:before { content: "\ea96"; }
.radix-icons-github-logo-v1:before { content: "\ea97"; }
.radix-icons-globe:before { content: "\ea98"; }
.radix-icons-grid:before { content: "\ea99"; }
.radix-icons-group:before { content: "\ea9a"; }
.radix-icons-half-1:before { content: "\ea9b"; }
.radix-icons-half-2:before { content: "\ea9c"; }
.radix-icons-hamburger-menu:before { content: "\ea9d"; }
.radix-icons-hand:before { content: "\ea9e"; }
.radix-icons-heading:before { content: "\ea9f"; }
.radix-icons-heart-filled:before { content: "\eaa0"; }
.radix-icons-heart:before { content: "\eaa1"; }
.radix-icons-height:before { content: "\eaa2"; }
.radix-icons-hobby-knife:before { content: "\eaa3"; }
.radix-icons-home:before { content: "\eaa4"; }
.radix-icons-iconjar-logo:before { content: "\eaa5"; }
.radix-icons-id-card:before { content: "\eaa6"; }
.radix-icons-image:before { content: "\eaa7"; }
.radix-icons-info-circled:before { content: "\eaa8"; }
.radix-icons-input:before { content: "\eaa9"; }
.radix-icons-instagram-logo:before { content: "\eaaa"; }
.radix-icons-keyboard:before { content: "\eaab"; }
.radix-icons-lap-timer:before { content: "\eaac"; }
.radix-icons-laptop:before { content: "\eaad"; }
.radix-icons-layers:before { content: "\eaae"; }
.radix-icons-layout:before { content: "\eaaf"; }
.radix-icons-letter-case-capitalize:before { content: "\eab0"; }
.radix-icons-letter-case-lowercase:before { content: "\eab1"; }
.radix-icons-letter-case-toggle:before { content: "\eab2"; }
.radix-icons-letter-case-uppercase:before { content: "\eab3"; }
.radix-icons-letter-spacing:before { content: "\eab4"; }
.radix-icons-lightning-bolt:before { content: "\eab5"; }
.radix-icons-line-height:before { content: "\eab6"; }
.radix-icons-link-1:before { content: "\eab7"; }
.radix-icons-link-2:before { content: "\eab8"; }
.radix-icons-link-break-1:before { content: "\eab9"; }
.radix-icons-link-break-2:before { content: "\eaba"; }
.radix-icons-link-none-1:before { content: "\eabb"; }
.radix-icons-link-none-2:before { content: "\eabc"; }
.radix-icons-linkedin-logo-v1:before { content: "\eabd"; }
.radix-icons-list-bullet:before { content: "\eabe"; }
.radix-icons-lock-closed:before { content: "\eabf"; }
.radix-icons-lock-open-1:before { content: "\eac0"; }
.radix-icons-lock-open-2:before { content: "\eac1"; }
.radix-icons-loop:before { content: "\eac2"; }
.radix-icons-magic-wand:before { content: "\eac3"; }
.radix-icons-magnifying-glass:before { content: "\eac4"; }
.radix-icons-margin:before { content: "\eac5"; }
.radix-icons-mask-off:before { content: "\eac6"; }
.radix-icons-mask-on:before { content: "\eac7"; }
.radix-icons-minus-circled:before { content: "\eac8"; }
.radix-icons-minus:before { content: "\eac9"; }
.radix-icons-mix:before { content: "\eaca"; }
.radix-icons-mixer-horizontal:before { content: "\eacb"; }
.radix-icons-mixer-vertical:before { content: "\eacc"; }
.radix-icons-mobile:before { content: "\eacd"; }
.radix-icons-modulz-logo:before { content: "\eace"; }
.radix-icons-moon:before { content: "\eacf"; }
.radix-icons-move:before { content: "\ead0"; }
.radix-icons-notion-logo:before { content: "\ead1"; }
.radix-icons-opacity:before { content: "\ead2"; }
.radix-icons-open-in-new-window:before { content: "\ead3"; }
.radix-icons-overline:before { content: "\ead4"; }
.radix-icons-padding:before { content: "\ead5"; }
.radix-icons-paper-plane:before { content: "\ead6"; }
.radix-icons-pause:before { content: "\ead7"; }
.radix-icons-pencil-1:before { content: "\ead8"; }
.radix-icons-pencil-2:before { content: "\ead9"; }
.radix-icons-person:before { content: "\eada"; }
.radix-icons-pie-chart:before { content: "\eadb"; }
.radix-icons-pilcrow:before { content: "\eadc"; }
.radix-icons-pin-bottom:before { content: "\eadd"; }
.radix-icons-pin-left:before { content: "\eade"; }
.radix-icons-pin-right:before { content: "\eadf"; }
.radix-icons-pin-top:before { content: "\eae0"; }
.radix-icons-play:before { content: "\eae1"; }
.radix-icons-plus-circled:before { content: "\eae2"; }
.radix-icons-plus:before { content: "\eae3"; }
.radix-icons-question-mark-circled:before { content: "\eae4"; }
.radix-icons-question-mark:before { content: "\eae5"; }
.radix-icons-quote:before { content: "\eae6"; }
.radix-icons-radiobutton:before { content: "\eae7"; }
.radix-icons-reader:before { content: "\eae8"; }
.radix-icons-reload:before { content: "\eae9"; }
.radix-icons-reset:before { content: "\eaea"; }
.radix-icons-resume:before { content: "\eaeb"; }
.radix-icons-rocket:before { content: "\eaec"; }
.radix-icons-rotate-counter-clockwise:before { content: "\eaed"; }
.radix-icons-row-spacing:before { content: "\eaee"; }
.radix-icons-rows:before { content: "\eaef"; }
.radix-icons-ruler-horizontal:before { content: "\eaf0"; }
.radix-icons-ruler-square:before { content: "\eaf1"; }
.radix-icons-scissors:before { content: "\eaf2"; }
.radix-icons-section:before { content: "\eaf3"; }
.radix-icons-sewing-pin-filled:before { content: "\eaf4"; }
.radix-icons-sewing-pin:before { content: "\eaf5"; }
.radix-icons-shadow-inner:before { content: "\eaf6"; }
.radix-icons-shadow-none:before { content: "\eaf7"; }
.radix-icons-shadow-outer:before { content: "\eaf8"; }
.radix-icons-shadow:before { content: "\eaf9"; }
.radix-icons-share-1:before { content: "\eafa"; }
.radix-icons-share-2:before { content: "\eafb"; }
.radix-icons-shuffle:before { content: "\eafc"; }
.radix-icons-size:before { content: "\eafd"; }
.radix-icons-sketch-logo:before { content: "\eafe"; }
.radix-icons-slash:before { content: "\eaff"; }
.radix-icons-slider:before { content: "\eb00"; }
.radix-icons-space-between-horizontally:before { content: "\eb01"; }
.radix-icons-space-between-vertically:before { content: "\eb02"; }
.radix-icons-space-evenly-horizontally:before { content: "\eb03"; }
.radix-icons-space-evenly-vertically:before { content: "\eb04"; }
.radix-icons-speaker-loud:before { content: "\eb05"; }
.radix-icons-speaker-moderate:before { content: "\eb06"; }
.radix-icons-speaker-off:before { content: "\eb07"; }
.radix-icons-speaker-quiet:before { content: "\eb08"; }
.radix-icons-square:before { content: "\eb09"; }
.radix-icons-stack:before { content: "\eb0a"; }
.radix-icons-star-filled:before { content: "\eb0b"; }
.radix-icons-star:before { content: "\eb0c"; }
.radix-icons-stitches-logo:before { content: "\eb0d"; }
.radix-icons-stop:before { content: "\eb0e"; }
.radix-icons-stopwatch:before { content: "\eb0f"; }
.radix-icons-stretch-horizontally:before { content: "\eb10"; }
.radix-icons-stretch-vertically:before { content: "\eb11"; }
.radix-icons-strikethrough:before { content: "\eb12"; }
.radix-icons-sun:before { content: "\eb13"; }
.radix-icons-switch:before { content: "\eb14"; }
.radix-icons-symbol:before { content: "\eb15"; }
.radix-icons-table:before { content: "\eb16"; }
.radix-icons-target:before { content: "\eb17"; }
.radix-icons-text-align-bottom:before { content: "\eb18"; }
.radix-icons-text-align-center:before { content: "\eb19"; }
.radix-icons-text-align-justify:before { content: "\eb1a"; }
.radix-icons-text-align-left:before { content: "\eb1b"; }
.radix-icons-text-align-middle:before { content: "\eb1c"; }
.radix-icons-text-align-right:before { content: "\eb1d"; }
.radix-icons-text-align-top:before { content: "\eb1e"; }
.radix-icons-text-none:before { content: "\eb1f"; }
.radix-icons-text:before { content: "\eb20"; }
.radix-icons-thick-arrow-down:before { content: "\eb21"; }
.radix-icons-thick-arrow-left:before { content: "\eb22"; }
.radix-icons-thick-arrow-right:before { content: "\eb23"; }
.radix-icons-thick-arrow-up-v1:before { content: "\eb24"; }
.radix-icons-timer:before { content: "\eb25"; }
.radix-icons-tokens:before { content: "\eb26"; }
.radix-icons-track-next:before { content: "\eb27"; }
.radix-icons-track-previous:before { content: "\eb28"; }
.radix-icons-transform:before { content: "\eb29"; }
.radix-icons-transparency-grid:before { content: "\eb2a"; }
.radix-icons-trash:before { content: "\eb2b"; }
.radix-icons-triangle-down:before { content: "\eb2c"; }
.radix-icons-triangle-left:before { content: "\eb2d"; }
.radix-icons-triangle-right:before { content: "\eb2e"; }
.radix-icons-triangle-up-v1:before { content: "\eb2f"; }
.radix-icons-twitter-logo:before { content: "\eb30"; }
.radix-icons-underline:before { content: "\eb31"; }
.radix-icons-update:before { content: "\eb32"; }
.radix-icons-upload:before { content: "\eb33"; }
.radix-icons-value-none:before { content: "\eb34"; }
.radix-icons-value:before { content: "\eb35"; }
.radix-icons-vercel-logo:before { content: "\eb36"; }
.radix-icons-video:before { content: "\eb37"; }
.radix-icons-view-grid:before { content: "\eb38"; }
.radix-icons-view-horizontal:before { content: "\eb39"; }
.radix-icons-view-none:before { content: "\eb3a"; }
.radix-icons-view-vertical:before { content: "\eb3b"; }
.radix-icons-width:before { content: "\eb3c"; }
.radix-icons-zoom-in:before { content: "\eb3d"; }
.radix-icons-zoom-out:before { content: "\eb3e"; }


$radix-icons-accessibility = '\ea01'
$radix-icons-activity-log = '\ea02'
$radix-icons-align-baseline = '\ea03'
$radix-icons-align-bottom = '\ea04'
$radix-icons-align-center-horizontally = '\ea05'
$radix-icons-align-center-vertically = '\ea06'
$radix-icons-align-left = '\ea07'
$radix-icons-align-right = '\ea08'
$radix-icons-align-top = '\ea09'
$radix-icons-all-sides = '\ea0a'
$radix-icons-angle = '\ea0b'
$radix-icons-archive = '\ea0c'
$radix-icons-arrow-bottom-left = '\ea0d'
$radix-icons-arrow-bottom-right = '\ea0e'
$radix-icons-arrow-down = '\ea0f'
$radix-icons-arrow-left = '\ea10'
$radix-icons-arrow-right = '\ea11'
$radix-icons-arrow-top-left = '\ea12'
$radix-icons-arrow-top-right = '\ea13'
$radix-icons-arrow-up-v1 = '\ea14'
$radix-icons-aspect-ratio = '\ea15'
$radix-icons-avatar = '\ea16'
$radix-icons-backpack = '\ea17'
$radix-icons-badge = '\ea18'
$radix-icons-bar-chart = '\ea19'
$radix-icons-bell = '\ea1a'
$radix-icons-blending-mode = '\ea1b'
$radix-icons-bookmark-filled = '\ea1c'
$radix-icons-bookmark = '\ea1d'
$radix-icons-border-all = '\ea1e'
$radix-icons-border-bottom = '\ea1f'
$radix-icons-border-dashed = '\ea20'
$radix-icons-border-dotted = '\ea21'
$radix-icons-border-left = '\ea22'
$radix-icons-border-none = '\ea23'
$radix-icons-border-right = '\ea24'
$radix-icons-border-solid = '\ea25'
$radix-icons-border-split = '\ea26'
$radix-icons-border-style = '\ea27'
$radix-icons-border-top = '\ea28'
$radix-icons-border-width = '\ea29'
$radix-icons-box-model = '\ea2a'
$radix-icons-box = '\ea2b'
$radix-icons-button = '\ea2c'
$radix-icons-calendar = '\ea2d'
$radix-icons-camera = '\ea2e'
$radix-icons-card-stack-minus = '\ea2f'
$radix-icons-card-stack-plus = '\ea30'
$radix-icons-card-stack = '\ea31'
$radix-icons-caret-down = '\ea32'
$radix-icons-caret-left = '\ea33'
$radix-icons-caret-right = '\ea34'
$radix-icons-caret-sort = '\ea35'
$radix-icons-caret-up-v1 = '\ea36'
$radix-icons-chat-bubble = '\ea37'
$radix-icons-check-circled = '\ea38'
$radix-icons-check = '\ea39'
$radix-icons-checkbox = '\ea3a'
$radix-icons-chevron-down = '\ea3b'
$radix-icons-chevron-left = '\ea3c'
$radix-icons-chevron-right = '\ea3d'
$radix-icons-chevron-up-v1 = '\ea3e'
$radix-icons-circle-backslash = '\ea3f'
$radix-icons-circle = '\ea40'
$radix-icons-clipboard-copy = '\ea41'
$radix-icons-clipboard = '\ea42'
$radix-icons-clock = '\ea43'
$radix-icons-code = '\ea44'
$radix-icons-codesandbox-logo-v1 = '\ea45'
$radix-icons-color-wheel = '\ea46'
$radix-icons-column-spacing = '\ea47'
$radix-icons-columns = '\ea48'
$radix-icons-commit = '\ea49'
$radix-icons-component-1 = '\ea4a'
$radix-icons-component-2 = '\ea4b'
$radix-icons-component-boolean = '\ea4c'
$radix-icons-component-instance = '\ea4d'
$radix-icons-component-none = '\ea4e'
$radix-icons-component-placeholder = '\ea4f'
$radix-icons-container = '\ea50'
$radix-icons-cookie = '\ea51'
$radix-icons-copy = '\ea52'
$radix-icons-corner-bottom-left = '\ea53'
$radix-icons-corner-bottom-right = '\ea54'
$radix-icons-corner-top-left = '\ea55'
$radix-icons-corner-top-right = '\ea56'
$radix-icons-corners = '\ea57'
$radix-icons-countdown-timer = '\ea58'
$radix-icons-counter-clockwise-clock-v1 = '\ea59'
$radix-icons-crop = '\ea5a'
$radix-icons-cross-1 = '\ea5b'
$radix-icons-cross-2 = '\ea5c'
$radix-icons-cross-circled = '\ea5d'
$radix-icons-crosshair-1 = '\ea5e'
$radix-icons-crosshair-2 = '\ea5f'
$radix-icons-crumpled-paper = '\ea60'
$radix-icons-cube = '\ea61'
$radix-icons-cursor-arrow = '\ea62'
$radix-icons-cursor-text = '\ea63'
$radix-icons-dash = '\ea64'
$radix-icons-dashboard = '\ea65'
$radix-icons-desktop = '\ea66'
$radix-icons-dimensions = '\ea67'
$radix-icons-disc = '\ea68'
$radix-icons-discord-logo = '\ea69'
$radix-icons-divider-horizontal = '\ea6a'
$radix-icons-divider-vertical = '\ea6b'
$radix-icons-dot-filled = '\ea6c'
$radix-icons-dot = '\ea6d'
$radix-icons-dots-horizontal = '\ea6e'
$radix-icons-dots-vertical = '\ea6f'
$radix-icons-double-arrow-down = '\ea70'
$radix-icons-double-arrow-left = '\ea71'
$radix-icons-double-arrow-right = '\ea72'
$radix-icons-double-arrow-up-v1 = '\ea73'
$radix-icons-download = '\ea74'
$radix-icons-drag-handle-dots-1 = '\ea75'
$radix-icons-drag-handle-dots-2 = '\ea76'
$radix-icons-drag-handle-horizontal = '\ea77'
$radix-icons-drag-handle-vertical = '\ea78'
$radix-icons-drawing-pin-filled = '\ea79'
$radix-icons-drawing-pin = '\ea7a'
$radix-icons-dropdown-menu = '\ea7b'
$radix-icons-enter-full-screen = '\ea7c'
$radix-icons-enter = '\ea7d'
$radix-icons-envelope-closed = '\ea7e'
$radix-icons-envelope-open = '\ea7f'
$radix-icons-eraser = '\ea80'
$radix-icons-exclamation-triangle = '\ea81'
$radix-icons-exit-full-screen = '\ea82'
$radix-icons-exit = '\ea83'
$radix-icons-external-link = '\ea84'
$radix-icons-eye-closed = '\ea85'
$radix-icons-eye-none = '\ea86'
$radix-icons-eye-open = '\ea87'
$radix-icons-face = '\ea88'
$radix-icons-figma-logo = '\ea89'
$radix-icons-file-minus = '\ea8a'
$radix-icons-file-plus = '\ea8b'
$radix-icons-file-text = '\ea8c'
$radix-icons-file = '\ea8d'
$radix-icons-font-bold = '\ea8e'
$radix-icons-font-family = '\ea8f'
$radix-icons-font-italic = '\ea90'
$radix-icons-font-roman = '\ea91'
$radix-icons-font-size = '\ea92'
$radix-icons-font-style = '\ea93'
$radix-icons-frame = '\ea94'
$radix-icons-framer-logo = '\ea95'
$radix-icons-gear = '\ea96'
$radix-icons-github-logo-v1 = '\ea97'
$radix-icons-globe = '\ea98'
$radix-icons-grid = '\ea99'
$radix-icons-group = '\ea9a'
$radix-icons-half-1 = '\ea9b'
$radix-icons-half-2 = '\ea9c'
$radix-icons-hamburger-menu = '\ea9d'
$radix-icons-hand = '\ea9e'
$radix-icons-heading = '\ea9f'
$radix-icons-heart-filled = '\eaa0'
$radix-icons-heart = '\eaa1'
$radix-icons-height = '\eaa2'
$radix-icons-hobby-knife = '\eaa3'
$radix-icons-home = '\eaa4'
$radix-icons-iconjar-logo = '\eaa5'
$radix-icons-id-card = '\eaa6'
$radix-icons-image = '\eaa7'
$radix-icons-info-circled = '\eaa8'
$radix-icons-input = '\eaa9'
$radix-icons-instagram-logo = '\eaaa'
$radix-icons-keyboard = '\eaab'
$radix-icons-lap-timer = '\eaac'
$radix-icons-laptop = '\eaad'
$radix-icons-layers = '\eaae'
$radix-icons-layout = '\eaaf'
$radix-icons-letter-case-capitalize = '\eab0'
$radix-icons-letter-case-lowercase = '\eab1'
$radix-icons-letter-case-toggle = '\eab2'
$radix-icons-letter-case-uppercase = '\eab3'
$radix-icons-letter-spacing = '\eab4'
$radix-icons-lightning-bolt = '\eab5'
$radix-icons-line-height = '\eab6'
$radix-icons-link-1 = '\eab7'
$radix-icons-link-2 = '\eab8'
$radix-icons-link-break-1 = '\eab9'
$radix-icons-link-break-2 = '\eaba'
$radix-icons-link-none-1 = '\eabb'
$radix-icons-link-none-2 = '\eabc'
$radix-icons-linkedin-logo-v1 = '\eabd'
$radix-icons-list-bullet = '\eabe'
$radix-icons-lock-closed = '\eabf'
$radix-icons-lock-open-1 = '\eac0'
$radix-icons-lock-open-2 = '\eac1'
$radix-icons-loop = '\eac2'
$radix-icons-magic-wand = '\eac3'
$radix-icons-magnifying-glass = '\eac4'
$radix-icons-margin = '\eac5'
$radix-icons-mask-off = '\eac6'
$radix-icons-mask-on = '\eac7'
$radix-icons-minus-circled = '\eac8'
$radix-icons-minus = '\eac9'
$radix-icons-mix = '\eaca'
$radix-icons-mixer-horizontal = '\eacb'
$radix-icons-mixer-vertical = '\eacc'
$radix-icons-mobile = '\eacd'
$radix-icons-modulz-logo = '\eace'
$radix-icons-moon = '\eacf'
$radix-icons-move = '\ead0'
$radix-icons-notion-logo = '\ead1'
$radix-icons-opacity = '\ead2'
$radix-icons-open-in-new-window = '\ead3'
$radix-icons-overline = '\ead4'
$radix-icons-padding = '\ead5'
$radix-icons-paper-plane = '\ead6'
$radix-icons-pause = '\ead7'
$radix-icons-pencil-1 = '\ead8'
$radix-icons-pencil-2 = '\ead9'
$radix-icons-person = '\eada'
$radix-icons-pie-chart = '\eadb'
$radix-icons-pilcrow = '\eadc'
$radix-icons-pin-bottom = '\eadd'
$radix-icons-pin-left = '\eade'
$radix-icons-pin-right = '\eadf'
$radix-icons-pin-top = '\eae0'
$radix-icons-play = '\eae1'
$radix-icons-plus-circled = '\eae2'
$radix-icons-plus = '\eae3'
$radix-icons-question-mark-circled = '\eae4'
$radix-icons-question-mark = '\eae5'
$radix-icons-quote = '\eae6'
$radix-icons-radiobutton = '\eae7'
$radix-icons-reader = '\eae8'
$radix-icons-reload = '\eae9'
$radix-icons-reset = '\eaea'
$radix-icons-resume = '\eaeb'
$radix-icons-rocket = '\eaec'
$radix-icons-rotate-counter-clockwise = '\eaed'
$radix-icons-row-spacing = '\eaee'
$radix-icons-rows = '\eaef'
$radix-icons-ruler-horizontal = '\eaf0'
$radix-icons-ruler-square = '\eaf1'
$radix-icons-scissors = '\eaf2'
$radix-icons-section = '\eaf3'
$radix-icons-sewing-pin-filled = '\eaf4'
$radix-icons-sewing-pin = '\eaf5'
$radix-icons-shadow-inner = '\eaf6'
$radix-icons-shadow-none = '\eaf7'
$radix-icons-shadow-outer = '\eaf8'
$radix-icons-shadow = '\eaf9'
$radix-icons-share-1 = '\eafa'
$radix-icons-share-2 = '\eafb'
$radix-icons-shuffle = '\eafc'
$radix-icons-size = '\eafd'
$radix-icons-sketch-logo = '\eafe'
$radix-icons-slash = '\eaff'
$radix-icons-slider = '\eb00'
$radix-icons-space-between-horizontally = '\eb01'
$radix-icons-space-between-vertically = '\eb02'
$radix-icons-space-evenly-horizontally = '\eb03'
$radix-icons-space-evenly-vertically = '\eb04'
$radix-icons-speaker-loud = '\eb05'
$radix-icons-speaker-moderate = '\eb06'
$radix-icons-speaker-off = '\eb07'
$radix-icons-speaker-quiet = '\eb08'
$radix-icons-square = '\eb09'
$radix-icons-stack = '\eb0a'
$radix-icons-star-filled = '\eb0b'
$radix-icons-star = '\eb0c'
$radix-icons-stitches-logo = '\eb0d'
$radix-icons-stop = '\eb0e'
$radix-icons-stopwatch = '\eb0f'
$radix-icons-stretch-horizontally = '\eb10'
$radix-icons-stretch-vertically = '\eb11'
$radix-icons-strikethrough = '\eb12'
$radix-icons-sun = '\eb13'
$radix-icons-switch = '\eb14'
$radix-icons-symbol = '\eb15'
$radix-icons-table = '\eb16'
$radix-icons-target = '\eb17'
$radix-icons-text-align-bottom = '\eb18'
$radix-icons-text-align-center = '\eb19'
$radix-icons-text-align-justify = '\eb1a'
$radix-icons-text-align-left = '\eb1b'
$radix-icons-text-align-middle = '\eb1c'
$radix-icons-text-align-right = '\eb1d'
$radix-icons-text-align-top = '\eb1e'
$radix-icons-text-none = '\eb1f'
$radix-icons-text = '\eb20'
$radix-icons-thick-arrow-down = '\eb21'
$radix-icons-thick-arrow-left = '\eb22'
$radix-icons-thick-arrow-right = '\eb23'
$radix-icons-thick-arrow-up-v1 = '\eb24'
$radix-icons-timer = '\eb25'
$radix-icons-tokens = '\eb26'
$radix-icons-track-next = '\eb27'
$radix-icons-track-previous = '\eb28'
$radix-icons-transform = '\eb29'
$radix-icons-transparency-grid = '\eb2a'
$radix-icons-trash = '\eb2b'
$radix-icons-triangle-down = '\eb2c'
$radix-icons-triangle-left = '\eb2d'
$radix-icons-triangle-right = '\eb2e'
$radix-icons-triangle-up-v1 = '\eb2f'
$radix-icons-twitter-logo = '\eb30'
$radix-icons-underline = '\eb31'
$radix-icons-update = '\eb32'
$radix-icons-upload = '\eb33'
$radix-icons-value-none = '\eb34'
$radix-icons-value = '\eb35'
$radix-icons-vercel-logo = '\eb36'
$radix-icons-video = '\eb37'
$radix-icons-view-grid = '\eb38'
$radix-icons-view-horizontal = '\eb39'
$radix-icons-view-none = '\eb3a'
$radix-icons-view-vertical = '\eb3b'
$radix-icons-width = '\eb3c'
$radix-icons-zoom-in = '\eb3d'
$radix-icons-zoom-out = '\eb3e'
